.matchedPaths {
  word-wrap: anywhere;
  table-layout: fixed;
  border-radius: 5px;
}

.tableResponsive {
  height: 100%;
}

.matchedPaths thead {
  border-radius: 5px;
}

.matchedPaths tbody td, .matchedPaths tbody th  {
  font-size: 0.9rem;
  font-family: monospace;
}